body {
    margin: 0 auto;
    padding: 0;
}

canvas {
    border: 2px solid black;
    border-radius: 20px;

}
span {
    font-weight: bold;
}

#draw {
    width: 800px;
    padding: 0;
    margin: 0;
    float: left;
}
#chat-wrap {
    margin-left: 800px;
    height: 600px;
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
}

#game {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
}

#forms {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    position: absolute;
    bottom: 5px;
}
textarea {
    resize: none;
    width: 70%;
    height: 100%;
}
#send-message-area{

}

#options {
    width: 800px;
    margin: 0;
    height: 50px;
    padding-left: 10px;
}
#slidecontainer {
    width: 200px;
    margin-left: 400px;
    height: 50px;
    position: absolute;
}
#strokeRange {
    -webkit-appearance: none;
    opacity: 0.7;
    outline: none;
    width: 100%;
    height: 30px;
    background: white;
}
#strokeRange::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: burlywood;
    border: solid 1px black;
    border-radius: 2px;
    cursor: pointer; /* Cursor on hover */
    margin-top: -13.5px;
}
#strokeRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 2px;
    border: 0.2px solid #010101;
}

#strokeRange::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: grey;
    border: solid 1px black;
    border-radius: 2px;
    cursor: pointer; /* Cursor on hover */
}

#buttonBox{
    margin: 0;
    float: left;
    width: 400px;
    height: 50px;
}
#red{
    background-color: red;
}
#black{
    background-color: black;
}
#green{
    background-color: rgb(3,158,3);
}
#yellow{
    background-color: rgb(250,245,5);
}
#blue{
    background-color: blue;
}
#pink{
     background-color: rgb(255,38,171);
 }
#purple{
    background-color: rgb(127,0,165);
}
#eraser{
    margin-left: 30px;
    background-image:url("../images/eraser.png") ;
}

button{
    border-radius: 3px;
    padding: 12px;
    border: 1px solid black;
    cursor: pointer;
    outline: inherit;
}